extends layout

block content
   .page__content
      .container
         .box__box
            h1 Корзина
            img(src="#{data.picture}", alt="iPhone" class="data")
            p= data.smallbody
            p= data.price
            button.box__btn +
            button.box__btn - 
            p#tot.t(data-id='ttt333')